<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Xin chao moi nguoi minh ten la Ho Dang Nguyen</h1>
    <a href="/about">About</a>

    <form action="/hello" method="get">
        <input type="text" name="name">
        <button type="submit">Submit</button>
    </form>

</body>
</html>